@import "tailwindcss";

html,
body {
  background-color: #121212;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e2f;
}


::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 4px;
}